{% extends "base.html" %}

{% block title %}
	<h1>Feature details</h1>
{% endblock %}

{% block topMenu %}
<a href="{% url 'featureList' %}" class="button">Back to List</a>
<a href="{% url 'featureUpdate' feature.id %}" class="button">Edit this feature</a>
<a href="{% url 'featureCreate' %}" class="button">Add another</a>
{% endblock %}

{% block content %}
	<h3>Feature properties:</h3>
	<table class="pure-table entryDetails">
		<tr>
			<th>Name</th>
			<td>{{ feature.name }}</td>
		</tr>
		<tr>
			<th>Parameters</th>
			<td>{{ feature.parameters }}</a></td>
		</tr>
		<tr>
			<th>Notes</th>
			<td>{{ feature.notes }}</a></td>
		</tr>
	</table>

	<h3>Robots with this feature:</h3>
	<table class="pure-table featureList">
		<thead><tr>
			<th>Name</th>
			<th>Producer</th>
			<th>Coutry</th>
			<th>Year</th>
			<th>Price</th>
		</tr></thead>
		<tbody>
			{% for rf in feature.robotfeature_set.all %}
			<tr>
				<td><a href="{% url 'robotDetail' rf.robot.pk %}">{{ rf.robot.name }}</a></td>
				<td>{{ rf.robot.producer }}</td>
				<td>{{ rf.robot.coutry }}</td>
				<td>{{ rf.robot.year }}</td>
				<td>{{ rf.robot.price }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
