{% extends "base.html" %}

{% block title %}
	<h1>Application details</h1>
{% endblock %}

{% block topMenu %}
<a href="{% url 'applicationList' %}" class="button">Back to List</a>
<a href="{% url 'applicationUpdate' application.id %}" class="button">Edit this application</a>
<a href="{% url 'applicationCreate' %}" class="button">Add another</a>
{% endblock %}

{% block content %}
	<h3>Application properties:</h3>
	<table class="pure-table entryDetails">
		<tr>
			<th>Name</th>
			<td>{{ application.name }}</td>
		</tr>
		<tr>
			<th>Mobility enhancement</th>
			<td>{{ application.get_mobility_display }}</a></td>
		</tr>
		<tr>
			<th>Selfreliant care</th>
			<td>{{ application.get_selfreliantCare_display }}</a></td>
		</tr>
		<tr>
			<th>Interpersonal interaction</th>
			<td>{{ application.get_interpersonalInteraction_display }}</a></td>
		</tr>
		<tr>
			<th>Other</th>
			<td>{{ application.get_other_display }}</a></td>
		</tr>
		<tr>
			<th>Notes</th>
			<td>{{ application.notes }}</a></td>
		</tr>
	</table>

	<h3>Robots with this application:</h3>
	<table class="pure-table featureList">
		<thead><tr>
			<th>Name</th>
			<th>Producer</th>
			<th>Coutry</th>
			<th>Year</th>
			<th>Price</th>
		</tr></thead>
		<tbody>
			{% for robot in application.robot_set.all %}
			<tr>
				<td><a href="{% url 'robotDetail' robot.pk %}">{{ robot.name }}</a></td>
				<td>{{ robot.producer }}</td>
				<td>{{ robot.coutry }}</td>
				<td>{{ robot.year }}</td>
				<td>{{ robot.price }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
