{% with id=widget.attrs.id %}
	<ul{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
	{% for group, options, index in widget.optgroups %}
		{% if group %}
			<li><span{% if widget.attrs.label_class %} class="{{ widget.attrs.label_class }}"{% endif %}>{{ group }}</span>
				<ul{% if id %} id="{{ id }}_{{ index }}"{% endif %}>
		{% endif %}
		{% for widget in options %}
				    <li>
					    <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %} />
						<label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>
						{{ widget.label }}
						</label>
					</li>
		{% endfor %}
	    {% if group %}
				</ul>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endwith %}
