{% extends "base.html" %}

{% block title %}
	<h1>Adding a Project</h1>
{% endblock %}

{% block topMenu %}
<a href="{% url 'projectList' %}" class="button">Back to List</a>
{% endblock %}

{% block content %}
	<form class="entryEditForm" action="{% url 'projectCreate' %}" method="post">
		{% csrf_token %}
		<h3>Project properties:</h3>
		<table class="pure-table entryDetails entryEditTable">
			{{ form.as_table }}
		</table>

		<div class="formSubmitButton">
			<input type="submit" value="Save" class="button" />
		</div>
	</form>
{% endblock %}
