{% extends "base.html" %}

{% block title %}
	<h1>Skill details</h1>
{% endblock %}

{% block topMenu %}
<a href="{% url 'skillList' %}" class="button">Back to List</a>
<a href="{% url 'skillUpdate' skill.id %}" class="button">Edit this skill</a>
<a href="{% url 'skillCreate' %}" class="button">Add another</a>
{% endblock %}

{% block content %}
	<h3>Skill properties:</h3>
	<table class="pure-table entryDetails">
		<tr>
			<th>Name</th>
			<td>{{ skill.name }}</td>
		</tr>
		<tr>
			<th>Mobility enhancement</th>
			<td>{{ skill.get_mobility_display }}</a></td>
		</tr>
		<tr>
			<th>Selfreliant care</th>
			<td>{{ skill.get_selfreliantCare_display }}</a></td>
		</tr>
		<tr>
			<th>Interpersonal interaction</th>
			<td>{{ skill.get_interpersonalInteraction_display }}</a></td>
		</tr>
		<tr>
			<th>Other</th>
			<td>{{ skill.get_other_display }}</a></td>
		</tr>
		<tr>
			<th>Notes</th>
			<td>{{ skill.notes }}</a></td>
		</tr>
	</table>

	<h3>Robots with this skill:</h3>
	<table class="pure-table featureList">
		<thead><tr>
			<th>Name</th>
			<th>Producer</th>
			<th>Coutry</th>
			<th>Year</th>
			<th>Price</th>
		</tr></thead>
		<tbody>
			{% for robot in skill.robot_set.all %}
			<tr>
				<td><a href="{% url 'robotDetail' robot.pk %}">{{ robot.name }}</a></td>
				<td>{{ robot.producer }}</td>
				<td>{{ robot.coutry }}</td>
				<td>{{ robot.year }}</td>
				<td>{{ robot.price }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
