// @import 'mixins';

$font-color: #dddddd !default;
$font-color-light: lighten($font-color, 10%) !default;
$font-color-dark: darken($font-color, 10%) !default;
$font-color-gray: #666666 !default;
$font-color-lightgray: lighten($font-color-gray, 10%) !default;
$font-color-darkgray: darken($font-color-gray, 10%) !default;

$background-color: #302010 !default;
$background-color-dark: darken($background-color, 5%) !default;
$background-color-light: lighten($background-color, 5%) !default;

body {
	display: flex;
	height: 100vh;
	color: $font-color;
	background-color: $background-color;
}

#main-wrapper {
	flex: 1 0 auto;
	max-width: 100rem;
	width: 100%;

	margin-top: 4rem;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	/*padding-bottom: 8rem;*/
}

#content {
	margin: 1rem;
	padding: 1rem 2rem;
}

#sidebar {
	margin: 1rem;
	padding: 1rem;
}

#navbar {
	position: fixed;
	top: 0;
	z-index: 1030;
	min-width: 100%;
	margin: 0;
	background-color: $background-color-dark;

	#navbar-header {
		font-size: 2rem;
	}

	#navbar-links {
		font-size: 1.5rem;
		text-align: right;
		li {
			padding: 0.5rem 0;
		}
	}

	a, li {
		color: $font-color-gray;
		text-decoration: none;
		&:hover, &:focus {
			background-color: $background-color-light;
			color: $font-color;
			text-decoration: none;
		}
	}
}

/* List elements */
.pure-table {
	width: 95%;
	border: 1px solid $font-color-darkgray !important;

	td, th {
		border: 1px solid $font-color-darkgray !important;
	}

	thead {
		background-color: $background-color-light !important;
		color: $font-color-light !important;
		a {
			color: $font-color-light !important;
		}
	}

	.tableImageList {
		width: 100%;
	}
}

.robotImageList {
	list-style: none;
	display: inline;

	li {
		float: left;
		margin: 1vh;
	}

	img {
		max-height: 100px;
		max-width: 100px;
	}
}
