@import 'mixins';

$font-color: #dddddd !default;
$font-color-light: lighten($font-color, 10%) !default;
$font-color-dark: darken($font-color, 10%) !default;
$font-color-gray: #666666 !default;
$font-color-lightgray: lighten($font-color-gray, 10%) !default;
$font-color-darkgray: darken($font-color-gray, 10%) !default;

$background-color: #302010 !default;
$background-color-dark: darken($background-color, 5%) !default;
$background-color-light: lighten($background-color, 5%) !default;
$color-green-dark: #105010 !default;

body {
	display: flex;
	height: 100vh;
	color: $font-color;
	background-color: $background-color;

	font-size: 12pt;
}

a {
	color: white;
	&:active {
		color: lightpink;
	}
	&:visited {
		color: lightblue;
	}
}

#main-wrapper {
	flex: 1 0 auto;
	max-width: 100rem;
	width: 100%;

	margin-top: 4rem;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	/*padding-bottom: 8rem;*/
}

#content {
	padding: 1rem 2rem;
	font-size: 10pt;
}

#topMenu {
	padding: 1rem 2rem;
	margin-top: 1rem;
}

.button {
	background-color: $background-color-light;
	display: inline-block;
	padding: 1em;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;

	border-width: 0;
	border-radius: 0.5em;

	@include transition(all 0.3s);

	&:hover {
		background-color: $background-color-dark;
	}
}

#navbar {
	position: fixed;
	top: 0;
	z-index: 1030;
	min-width: 100%;
	margin: 0;
	background-color: $background-color-dark;

	#navbar-header {
		font-size: 2rem;
	}

	#navbar-links {
		font-size: 1.5rem;
		text-align: right;
		li {
			padding: 0.5rem 0;
		}
	}

	a, li {
		color: $font-color-gray;
		text-decoration: none;
		&:hover, &:focus {
			background-color: $background-color-light;
			color: $font-color;
			text-decoration: none;
		}
	}
}

/* List elements */
.pure-table {
	width: 95%;
	border: 1px solid $font-color-darkgray !important;

	td, th {
		border: 1px solid $font-color-darkgray !important;
		padding: 0.5em !important;
	}

	th {
		background-color: $background-color-light !important;
		color: $font-color-light !important;
		a {
			color: $font-color-light !important;
		}
	}

	ul {
		margin: 0;
		padding: 1em;
	}

	.tableImageList {
		width: 100%;
	}
}

.robotImageList {
	list-style: none;
	display: inline;

	li {
		float: left;
		margin: 1vh;
	}

	img {
		max-height: 100px;
		max-width: 100px;
	}
}

.entryDetails {
	th {
		white-space: nowrap;
	}
	td {
		width: 100%;
	}
}

.entryEditForm {
	.entryEditTable {
		width: 100%;

		td {
		}
		input, select, textarea {
			color: $background-color-dark;
			@include box-sizing(border-box);
			width: 100%;
			padding: 0.5rem 0;
		}
		select, textarea {
			padding: 0.5rem;
		}
	}

	.entryEditSubmit {
		font-size: 1rem;
		margin: 1rem;
		text-align: right;

		input {
			padding: 1rem 2rem;
			background-color: $color-green-dark;
		}
	}

	.robotFeatureSelectInput {
		list-style: none;
		ul, ul>li {
			display: inline-block;
			list-style: inherit;
		}
	}
}

.featureList {
	white-space: nowrap;
	.feature_true {
		font-weight: bold;
		color: green;
	}
	.feature_false {
		font-weight: bold;
		color: red;
	}
	.feature_unknown {
		font-weight: bold;
		color: yellow;
	}
}
