{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block pagetitle %}RobotDB{% endblock %}</title>

		<link rel="stylesheet" href="{% sass_src 'style.scss' %}">
		<link rel="stylesheet" href="{% static 'purecss/pure-min.css' %}">
		<link rel="stylesheet" href="{% static 'purecss/grids-responsive-min.css' %}">
	</head>
	<body>
		<nav id="navbar">
			<div id="navbar-container" class="pure-g">
				<div id="navbar-header" class="pure-u-1 pure-u-md-1-2">
					<a id="navbar-title" class="pure-menu-link" href="/">RobotDB</a>
				</div>
				<div id="navbar-links" class="pure-u-1 pure-u-md-1-2 pure-menu pure-menu-horizontal">
					<ul class="pure-menu-list">
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="/robots">Robots</a>
						</li>
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="/features">Features</a>
						</li>
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="/articles">Articles</a>
						</li>
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="/projects">Projects</a>
						</li>
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="/applications">Applications</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="main-wrapper">
			<div id="title">
				{% block title %}{% endblock %}
			</div>
			<div id="main">
				<div id="topMenu">
					{% block topMenu %}{% endblock %}
				</div>
				<div id="content">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<footer id="footer">
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>
